<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Pacifico&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/intro.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro</title>
</head>
<body>
    <header>
       <a href="" class="title" >CareerLink</a>
       <a href="" class="home header_btns" >Home</a>
       <a href="" class="jobs header_btns" >Jobs</a>
       <a href="" class="Recruiter header_btns" >Recruiter</a>
    </header>

    <div class="container">
        <div class="text">
        <div class="typewrite">A comprehensive platform for reliable job opportunities and internships.</div>
        <div class="smalltext">Get Discovered.Get Hired</div>
        <button class="for_job" onclick="window.location.href='/register_jobSeeker'">I'm a Job Seeker</button>
        <button class="for_recruiter" onclick="window.location.href='/register_recruiter'" >I'm a Recruiter</button>
        </div>
        <img class="avatar" src="https://easily-deploy.onrender.com/images/banner.png">
    </div>
</body>
</html>