<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Pacifico&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/layout.css">
  <%- locals.styles || '' %>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="page_wrapper">
    <header>
        
       <a href="" class="title" >CareerLink</a>
       
        <a href="/home_jobSeeker" class="home header_btns" ><i class="fa-solid fa-house"></i>
      Home</a>
       <a href="" class="jobs header_btns" ><i class="fa-solid fa-briefcase"></i>Saved Jobs</a>
      
      <a href="#" class="jobs header_btns profile">
  <img class="profilePic" src="/uploads/<%= profile.profilePic %>" alt="Profile Pic">
</a>

       
    </header>
   <%-body%>
    <footer>
        <div class="quote_container">
  <p class="quote_text">“Choose a job you love, and you will never have to work a day in your life.”</p>
  <p class="quote_author">— Confucius</p>
 
</div>
    </footer>
</div>
<script src="https://kit.fontawesome.com/d69cd2a72d.js" crossorigin="anonymous"></script>
<script>
  // Hide the alert after 3 seconds
  setTimeout(() => {
    const alertBox = document.getElementById('alertBox');
    if (alertBox) {
      alertBox.style.transition = 'opacity 0.5s ease';
      alertBox.style.opacity = '0';
      setTimeout(() => alertBox.style.display = 'none', 500);
    }
  }, 3000);
</script>

</body>
</html>